.constructor_el {
    position: relative;
    min-height: 208px;
}

.price_for_icon {
    display: flex;
    justify-content: center;
}

.name_ing {
    display: block;
    text-align: center;
}

.link {
	text-decoration: none;
	color: inherit
}