.header {
    margin-bottom: 0;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    height: 90px;  
    align-items: stretch;
    justify-content: space-around;
    display: flex;
}

.icon_and_text {
    justify-content: flex-start;
    display: flex;
    align-items: center;
}

.label {
    border: 2px dashed #5c7ad1;
    border-radius: 10px;
    width: 250px;
    justify-content: flex-start;
    display: flex;
    align-items: stretch;
}

.icon_ml {
    display: flex;
}

.text_ml {
    display: flex;
    align-items: center;
}



